/* Body Main page */

/* Partie Réservation */
.reservation {
    @include reservation;


    .reservation__title {
        @include boldtitle;
        padding-bottom: 30px
    }

    .reservation__description {
        @include descriptiontext;
        padding-bottom: 30px
    }

    .reservation__button {
        @include btn-primacolor;

        &:hover {
            @include btn-primacolor_hover;
        }

    }


}

/* Fin Partie Réservation */

/* Partie Fonctionnement */

.functionning {
    display: flex;
    flex-direction: column;

    .functionning__title {
        @include containerstitle;
    }

    .functionning__container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .functionning__choose {
        @include btn-functionning;

        &:hover {
            @include btn-functionning_hover;
            @include functionning-telico_hover;
        }

    }

    .functionning__menu {
        @include btn-functionning;

        &:hover {
            @include btn-functionning_hover;
            @include functionning-telico_hover;
        }

    }

    .functionning__taste {
        @include btn-functionning;

        &:hover {
            @include btn-functionning_hover;
            @include functionning-telico_hover;
        }

    }

    .functionning__number {
        @include functionning-number;
    }

    .functionning__telico {
        @include functionning-telico
    }

}

/* Fin Partie Fonctionnement */

/* Partie Restaurant */

.restaurant {
    @include restaurant;

    .restaurant__title {
        @include containerstitle;
    }

    .restaurant__cards {
        @include restaurantcards;


        .restaurant__picture {
            @include restaurantpicture;
        }

        .restaurand__card {
            @include restaurantcard;


            .restaurant__new {
                @include restaurantnew;

            }

            .restaurant__blank {
                @include restaurantblank;

                .restaurant__name {
                    @include restaurantname;
                }

                .restaurant__place {
                    @include restaurantplace;
                }

                .restaurant__like {
                    @include restaurantlike;

                    .fa-stack {
                        @include stack;

                        .fa-regular {
                            @include restaurantlikeborder;

                            &:hover {
                                @include restaurantlikeborder_hover;

                            }
                        }

                        .fa-solid {
                            @include restaurantlikeanime;

                            &:hover {
                                @include restaurantlikeanime_hover;

                            }
                        }
                    }



                }

            }

        }


    }

}

/* Fin Partie Restaurant */

/* Fin Body main page */

/* Body Alternantes pages */

.menu {
    @include menu;


    .menu__name {
        @include menuname;


        .menu__name--like {
            @include menunamelike;

            .fa-stack {
                @include stack;

                .fa-regular {
                    @include restaurantlikeborder;

                    &:hover {
                        @include restaurantlikeborder_hover;

                    }
                }

                .fa-solid {
                    @include restaurantlikeanime;

                    &:hover {
                        @include restaurantlikeanime_hover;

                    }
                }
            }
        }

    }

    .menu__entries,
    .menu__dishes,
    .menu__desserts {
        @include menu__dish;

        .menu__entries--title,
        .menu__dishes--title,
        .menu__desserts--title {
            display: flex;

            ::after {
                @include underline-mint;
            }
        }

        .menu__entries--container,
        .menu__dishes--container,
        .menu__desserts--container {

            @include menu__dish--container;

            .menuinfo {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;

                .menu__entries--text,
                .menu__dishes--text,
                .menu__desserts--text {
                    @include menu__dish--text;
                }

                .menu__entries--price,
                .menu__dishes--price,
                .menu__desserts--price {
                    @include menu__dish--price;
                }
            }

            .menu__dish--animation {
                @include menu__dish--animation;

            }

        }

        #check{
            height: 25px;
            width: 25px;
            background-color: white;
            border-radius: 40px 40px 40px 40px;
            align-items: center;
            justify-content: center;
            display: flex;
            color: $new-bgcolor;
            transform: rotate(360deg);
            transition: 0.4s ease-in-out;
        }

        .menu__entries--container:hover .menu__dish--animation {
            @include menu__dish--opacity
        }
        .menu__entries--container:hover #check {
            transform: rotate(0deg);
        }

        .menu__dishes--container:hover .menu__dish--animation{
            @include menu__dish--opacity
        }
        .menu__dishes--container:hover #check {
            transform: rotate(0deg);
        }
        .menu__desserts--container:hover .menu__dish--animation{
            @include menu__dish--opacity
        }
        .menu__desserts--container:hover #check {
            transform: rotate(0deg);
        }

    }

    .menu__order {
        display: flex;
        justify-content: center;

        .command__button {
            @include btn-primacolor;

            &:hover {
                @include btn-primacolor_hover;
            }
        }
    }

}

/* Fin Body Alternates pages */