/* Body Main page */


/* Spinner */

.loading {
    background: black;
    opacity: 0.7;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeout 0.20s 3s forwards;

    .loading__ico1 {
        width: 50px;
        height: 50px;
        border: 3px solid rgba(255, 255, 255, .3);
        border-radius: 50%;
        border-top-color: $primary-color;
        animation: spin 1s ease-in-out;
        animation-iteration-count: 4;
        opacity: 1;
        position: absolute;
    }

    .loading__ico2 {
        width: 75px;
        height: 75px;
        border: 3px solid rgba(255, 255, 255, .3);
        border-radius: 50%;
        border-top-color: $primary-color;
        animation: reversedspin 1s ease-in-out;
        animation-iteration-count: 4;
        opacity: 1;
    }

    .loading__ico3 {
        width: 100px;
        height: 100px;
        border: 3px solid rgba(255, 255, 255, .3);
        border-radius: 50%;
        border-top-color: $primary-color;
        animation: spin 1s ease-in-out;
        animation-iteration-count: 4;
        opacity: 1;
        position: absolute
    }

}


/* Partie Réservation */
.reservation {
    @include reservation;


    .reservation__title {
        @include boldtitle;
        padding-bottom: 30px
    }

    .reservation__description {
        @include descriptiontext;
        padding-bottom: 30px
    }

    .reservation__button {
        @include btn-primacolor;

        &:hover {
            @include btn-primacolor_hover;
        }

    }


}

/* Fin Partie Réservation */

/* Partie Fonctionnement */

.functionning {
    display: flex;
    flex-direction: column;

    .functionning__title {
        @include containerstitle;
        margin-bottom: 15px;
    }

    .functionning__container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .functionning__choose {
        @include btn-functionning;

        &:hover {
            @include btn-functionning_hover;
            @include functionning-telico_hover;
        }

    }

    .functionning__menu {
        @include btn-functionning;

        &:hover {
            @include btn-functionning_hover;
            @include functionning-telico_hover;
        }

    }

    .functionning__taste {
        @include btn-functionning;

        &:hover {
            @include btn-functionning_hover;
            @include functionning-telico_hover;
        }

    }

    .functionning__number {
        @include functionning-number;
    }

    .functionning__telico {
        @include functionning-telico
    }

}

/* Fin Partie Fonctionnement */

/* Partie Restaurant */

.restaurant {
    @include restaurant;

    .restaurant__title {
        @include containerstitle;
    }

    .restaurant__cards {
        @include restaurantcards;




        .restaurant__card {
            @include restaurantcard;




            .restaurant__new {
                @include restaurantnew;

            }

            .restaurant__picture {
                @include restaurantpicture;
            }

            .restaurant__blank {
                @include restaurantblank;

                .restaurant__name {
                    @include restaurantname;
                }

                .restaurant__place {
                    @include restaurantplace;
                }

                .restaurant__like {
                    @include restaurantlike;

                    .fa-stack {
                        @include stack;

                        .fa-regular {
                            @include restaurantlikeborder;

                            &:hover {
                                @include restaurantlikeborder_hover;

                            }
                        }

                        .fa-solid {
                            @include restaurantlikeanime;

                            &:hover {
                                @include restaurantlikeanime_hover;

                            }
                        }
                    }



                }

            }

        }


    }

}

/* Fin Partie Restaurant */

/* Fin Body main page */

/* Body Alternantes pages */

.menu {
    @include menu;


    .menu__name {
        @include menuname;


        .menu__name--like {
            @include menunamelike;

            .fa-stack {
                @include stack;

                .fa-regular {
                    @include restaurantlikeborder;

                    &:hover {
                        @include restaurantlikeborder_hover;

                    }
                }

                .fa-solid {
                    @include restaurantlikeanime;

                    &:hover {
                        @include restaurantlikeanime_hover;

                    }
                }
            }
        }

    }

    .menu__dish {
        @include menu__dish;

        .menu__dish--title {
            display: flex;

            ::after {
                @include underline-mint;
            }
        }



        .menu__dish--container {

            @include menu__dish--container;
            animation: menu_fade 400ms cubic-bezier(0.12, 0.74, 0.3, 1) both;
            &:nth-child(2){
                animation-delay: 100ms;
            }
            &:nth-child(3){
                animation-delay: 210ms;
            }
            &:nth-child(4){
                animation-delay: 220ms;
            }
            &:nth-child(5){
                animation-delay: 230ms;
            }


            .menu__dish--text {
                @include menu__dish--text;

                h3,
                p {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-bottom: 10px;
                }
            }

            .menu__dish--price {
                @include menu__dish--price;

                .bold {
                    font-weight: bolder;
                }
            }


            .menu__dish--animation {
                @include menu__dish--animation;

            }
        }

     


        .check {
            height: 25px;
            width: 25px;
            background-color: white;
            border-radius: 40px 40px 40px 40px;
            align-items: center;
            justify-content: center;
            display: flex;
            color: $new-bgcolor;
            transform: rotate(360deg);
            transition: 0.25s ease-in-out;
        }



        .menu__dish--container:hover .menu__dish--animation {
            @include menu__dish--opacity
        }

        .menu__dish--container:hover .check {
            transform: rotate(0deg);
            transition: 0.4s ease-in-out;
        }



    }

    .menu__order {
        display: flex;
        justify-content: center;

        .command__button {
            @include btn-primacolor;

            &:hover {
                @include btn-primacolor_hover;
            }
        }
    }

}

/* Fin Body Alternates pages */

/* CSS Small screen */
@media screen and (max-width:500px) {
    .reservation {
        .reservation__button {
            width: 80%;
        }

    }


}

/* Reponsive Body Main page PC*/

@media screen and (min-width:992px) {

    .menu {
        .menu__order {
            .command__button {
                width: 35%;
            }
        }
    }


    .reservation {

        .reservation__button {
            width: 35%;
        }
    }

    .functionning__container {
        width: 65%;
        margin: auto;
    }

    .restaurant {
        align-items: flex-end;

        .restaurant__cards {
            display: flex;
            width: 70%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin: auto;

            .cardlink {
                display: flex;
                width: calc(40% - 20px);
                margin: 0 20px 0 0;

                .restaurant__card {
                    width: 100%;


                    .restaurant__picture {
                        display: flex;
                    }



                    .restaurant__blank {
                        width: 100%;
                    }
                }
            }
        }
    }

}

/* Fin reponsive Main Body Pc */

/*Responsive Alternate Body PC */
@media screen and (min-width:992px) {
    .menu {

        .menu__name {
            width: 92%;
            margin: 0 10% 0 5%;

            .menu__name--like {
                padding-left: 10px;
            }
        }

        .menu__dish {

            .menu__dish--title {
                width: 90%;
                margin: auto;
                margin-bottom: 20px;
            }

            .menu__dish--container {
                width: 90%;
                margin: auto;
                margin-bottom: 20px;
            }
        }

        .menu__order {
            margin: 20px 0 50px 0;
        }
    }
}

@media screen and (min-width:1500px) {
    .widescreen {
        display: flex;
        flex-direction: column;
        background-color: #f6f6f6;

        .functionning {
            width: 100%;

            .functionning__container {
                flex-direction: row;
                flex-wrap: wrap;
                width: 85%;

                .functionning__title {
                    width: 100%;
                    justify-content: center;
                }

                .functionning__choose {
                    width: 30%;
                    margin: 0 20px;
                }

                .functionning__menu {
                    width: 30%;
                    margin: 0 20px;
                }

                .functionning__taste {
                    width: 30%;
                    margin: 0 20px;
                }
            }
        }

        .restaurant {
            width: 100%;
            margin-top: 65px;

            .restaurant__title {
                justify-content: center;
                width: 100%;
            }

            .restaurant__cards {
                width: 100%;

                .cardlink {
                    width: 20%;

                }
            }
        }
    }

}

@media screen and (min-width:1700px) {
    .menu {

        .menu__name {
            width: 87%;
            margin: 0 10% 0 5%;

            .menu__name--like {
                padding-left: 10px;
            }
        }

    }

}