/* Mixin Index.html */
@mixin boldtitle{
    font-weight: bolder;
    font-size: 20px;
}

@mixin  containerstitle {
    display: flex;
    flex-direction: row;
    width: 82%;
    align-items: center;
    justify-content: flex-start;
    justify-items: center;
    
}

@mixin descriptiontext{
    font-weight: 550;
    font-size: 18px;
}

@mixin functionning-number{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    border-radius: 20px 20px 20px 20px;
    background-color: $primary-color;
    color: white;
    position:relative;
    right: 2%;
    font-size: 15px;
}

@mixin functionning-telico {
    margin: 0 20px 0 15px;
    font-size: 20px;
    }

    /* Fin Mixin index.html */

@mixin underline-mint{
    content: "";
    display: block;
    padding-top: 0.6rem;
    width: 60%;
    border-bottom: 3px solid #99e2d0;
}

@mixin menu__dish {
    display: flex;
    flex-direction: column;
    padding-left: 20px;   
    margin-top: 30px; 
}

@mixin menu__dish--container{
    display: flex;
    justify-content: space-between;
    margin: 10px 0 20px 0;
    background-color: white;
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
    border-radius: 10px 10px 10px 10px;
    width: 95%;
    height: 70px;
}

@mixin menu__dish--text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
    padding: 5px 0 0 10px;
}
@mixin menu__dish--price {
    display:flex;
    align-items: flex-end;
    padding-right: 30px;
    padding-bottom: 15px;
    
}